@media (max-width:1200px) {
          .content-stage .bullet {
        background: #fff;
        height: 1em;
        position: relative;
        width: 1em;
        border: 0.1em solid #00B6F9;
        border-radius: 50%;
        left: auto;
        right: 0.3em;
        display: inline-block;
        position: absolute;
    }
      .bullet {
        background: #00B6F9;
        border: 0.1em solid #f5f5f5;
        border-radius: 50%;
        height: 1em;
        left: 1em;
        display: inline-block;
        position: relative;
          width: 2.7em;
    }
            .content-stage {
            padding: 0;
        width: 54.3%;
        position: relative;
        background: #00B6F9;
    }

    .skill-container{
     display: flex;
flex-flow  :row wrap;
align-content : flex-start ;
    }
    .skill{
          position: relative;
    width: 30%;
    height: 30%;
    overflow: hidden;
    }
    .skill img{
      width: 100%;
    }
.skill h3{
  text-align: center;
}
.skill span{
  position: absolute;
        top: 7em;
        left: auto;
        right: 2.3em;
}

  @media  (max-height: 769px){
    .skill span{
        position: absolute;
        top: 8em;
         left: auto;
        right: 3.5em;
}

        .bullet {
        width: 2em;
    }
     .content-stage .bullet {
        right: 1.2em;
     }
       .content-stage {
        width: 53.2%;
       }
    }
	header {
		height: 0px;
}

        .title {
        font-size: 3em;
}
#menuToggle
{
 width: 50%;
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2;
}
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}




#menu
{
  text-align: center;
  position: absolute;
  width: 173.8%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #182825;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu a
{
  
  color: #14a88d;
  
  padding: 10px 0;
  font-size: 22px;
}
#menu li {
background-color: #1e332f;
margin: 5px;
}
#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}
#menuToggle input:checked ~ span{
  background: white;
}

/*
hamburger menu


*/


.first-section  {
  position: relative;
    width: auto;
}
.first-section img {
      opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.first-section .intro-content {
  opacity: 1;
}
.content {
    width: 50%;
            position: relative;
        padding: 1em;
        background: #f5f5f5;
}

.intro-content{
    width: auto;
  opacity: 0;
  position: absolute;
  top: 20%;
  left: 60%;
  transform: translate(-75%, -5%);
}
.text {
    width: 100%;
  color: white;
    text-align: center;
    font-size: 23px;

}
    .social-media a {
        color: #fff;
        text-decoration: none;
        padding: 0 10px;
    }
    .email,  .phone {
font-size: 0.8em;
    }
    #mask {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    background: #1a1b23;
}
.menu {
    display: none;
}
.left-img img{
    width: 100%;
    height: 100%;
}
.left-img {
    width: 50%;
}
.all-resume{
    width: 100%;
display: flex;
flex-direction :row;
}
.story-content{
    width:50%;
}
.container-story img{
    width: 50%;
}

    h2 {
        color: #fff;
        margin: 0;
        font-size: 25px;
        opacity: 0.9;
    }
.titre-content{
    text-align: center;
}
.story-content{
    margin: 0 1em 1em 1em;
    text-align:center; 
}
    .item {
        display: flex;
        flex-direction: row;
    }


    .education-content {
        border: 1em;
        border-left: solid;
        border-color: #00B6F9;
        display: inline-block;
        padding-left: 1.8em;
        margin-left: 0.4em; 
    }
        .education-content h3 {
        background: #00B6F9;
        color: #fff;
        display: block;
        margin: 0;
        padding: 0.3em;
        position: relative;
    }






        .stage-content {
        border: 2em;
        border-right: solid;
        border-color: white;
        display: inline-block;
        margin-left: 1em;
        width: 88%;
        padding-right: 1em;
    }
    .stage-content h3 {
        background: #fff;
        color: #00B6F9;
        display: block;
        margin: 0;
        line-height: 1.42;
        padding: 10px;
        position: relative;
    }

 
}
@media  (max-height: 768px){
#menu
{
  width: 180.5%;
}
}